* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

body {
    padding-top: 60px;
    padding-bottom: 95px;
}

.wrapper {
    max-width: 640px;
    margin: 0 auto;
}

.container {
    border: 1px solid rgba(0, 0, 0, 0.09);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.tab {
    position: relative;
}

.tab::before {
    content: "";
    position: absolute;
    width: 2px;
    background: #0179FF;
    top: 10px;
    bottom: 10px;
    left: -10px;
}

h1 {
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 30px;
}

h2 {
    font-weight: normal;
    font-size: 13px;
    display: flex;
    align-items: center;
}
h2 span {
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    border-top: 1px solid rgba(0, 0, 0, 0.65);
    border-right: 1px solid rgba(0, 0, 0, 0.65);
    margin-right: 9px;
}

h3 {
    font-weight: bold;
    font-size: 15px;
    color: #5D5D5D;
    margin-bottom: 10px;
}

a {
    color: #0179FF;
}

p {
    font-size: 13px;
    color: #5D5D5D;
    margin-bottom: 20px;
}
p:nth-last-child(1) {
    margin-bottom: 0;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

[type="checkbox"] {
    display: none;
}

label {
    display: block;
    background: #F5F5F5;
    border: 1px solid #E8E8E8;
    padding: 15px 20px;
    cursor: pointer;
}

[type="checkbox"] + label + div {
    padding: 20px;
    display: none;
}

[type="checkbox"]:checked + label + div {
    display: block;
}

[type="checkbox"]:checked + label h2 span {
    transform: rotate(135deg);
}